*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; /* 10px / 16px = 0.625 = 62.5%  to make the deafult font-size 10px*/
}

body {
	box-sizing: border-box;
}
